.container{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;

}
.one{
    background: chocolate;
    
}
.two{
    background: darkblue;
    color: white;
}
.three{
    border: 2px solid  red;
}